.hover:hover {
  transition-duration: .2s;
  transform: scale(1.1);
  cursor: pointer;
}

.hover a:hover{
  color: blue;
  text-decoration: none;
}

.pageHeaderBox{
  border: solid #CED4DA;
  border-width:  2px 0;
  
}


.hover a{
  color: #838383;
}